Checks: >
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -modernize-use-trailing-return-type
WarningsAsErrors: ""
HeaderFilterRegex: "include/ctorch/.*"
